
{% extends "pokemons/basePokemon.html.twig" %}
{% block contenido %}

    {% for message in app.flashes('éxito') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form (pokemonform)}}

{% endblock %}

